.env
./env
.openzeppelin
*.log
artifacts
cache
deployments
node_modules
charityAddresses.csv
contractAddresses.csv
package-lock.json
tokens.json
mnemonic.txt
yarn.lock
yarn-error.log
build
.prettierrc
coverage.json
.DS_Store
contracts/.DS_Store
contracts/ihelp/ihelp-contracts.code-workspace
TODO
deployed-charities/localhost.json
deployed-charities/hardhat.json
.vscode/settings.json
_hardhat.config.js
contracts_flattened
upgradeBatch.json
networks/localhost-connectors.json